@tailwind base;

@tailwind components;

@tailwind utilities;

body{
  background-color: #181818;
  color: #F7FAFC;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #1f1f1f !important;
}