@tailwind base;

@tailwind components;

@tailwind utilities;

body{
  background-color: #181818;
  color: #ffffff;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: rgb(18, 22, 29) !important
}